.hero-unit( style="margin-top: 100px" )
  %h1 Hi there!
  %p
    And welcome to the Wimdu lunch place voting system. To join us you need to be a Wimdu team member.

  = link_to "I'm a Wimduer, let me in!", "/auth/github", class: %w(btn btn-primary)