- if user_signed_in? && current_user.choice_for_today
  .alert.alert-info
    Today you're going to
    = link_to_venue(current_user.choice_for_today)
    - if current_user.votes.current.place.votes.ne(user: current_user).exists?
      = "with #{pluralize current_user.votes.current.place.votes.ne(user: current_user).size, "other"}"
    - else
      alone :(
    = link_to "I overslept and got in viel zu spät.", vote_place_path(current_user.choice_for_today), method: :delete, class: "close btn btn-small btn-link"